html {
  font-size: 15px;
  font-weight: 670; 
  font-family: "Open Sans", sans-serif; 
}
#macho {
    color: rgb(11, 121, 224);
}
#femea {
    color: rgb(255, 101, 222);
}
h1 {
    text-align: center;
}
img {
    height: 1.5%;
}
#cadastro {
    font-size: 22px;;
}
#bolamasc{
    accent-color: rgb(11, 121, 224);
}
#bolafem{
    accent-color: rgb(245, 82, 204);
}
